body{
  font-family: Raleway;
  overflow-x: hidden;
}


#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &:focus{
    box-shadow: none;
  }
}

nav{
  background-color: white;

  .navbar-toggler{
    background-color: #eee;

    &:focus{
      outline: none;
    }

    .navbar-toggler-icon{
      color: lighten(#000000, 20%);
    }
  }

  .logo{
    height: 50px;
    display: block;
  }

  .navbar-social{
    a{
      color: black;
    }
  }

  .navbar-nav .nav-link{
    color: #121117;
    font-size: 18px;
    line-height: 24px;
    transition: color 0.3s;



    &:hover{
      color: #c82333;
    }
  }

  .ml-auto{
    i.fab{
      font-size: 30px;
      margin-left: 15px ;
    }

    button.dropdown-button{
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 20px;
      font-size: 30px;


      &:focus{
        outline: none;
      }
    }

    .nav-flag{
      height: 30px;
      margin-left: 25px;
    }
  }

  .dropdown{
    position: relative;
  }

  .dropdown-content{
    transform: scale(0) translateY(-30px);

    position: absolute;
    min-width: 260px;
    top: 30px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;

    input{
      &:focus{
        outline: none;
      }
    }
    .dropdown-content-input{
      padding: 20px 10px;
      width: 250px;
      border: 1px solid #eee;
      border-radius: 5px;


    }

  }

  .transform-scale{
    transform: scale(1) translateY(0px);
  }
  button.confirm{
    background-color: #28a745;
    color: white;
  }

}
.card-img-top{
  transition: all 0.3s ;
}

.card-img-top:hover{
  filter: opacity(.6);
}

#main{


  .row{
    .col-md-4{
      padding-left: 8px;
      padding-right: 8px;
    }
  }




  .slick-prev, .slick-next{
    position: absolute;
    z-index: 30;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    background-color: #dc3545;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;

    &:hover{
      background-color: darken(#c82333, 20%);

    }

    &:focus{
      outline: none;
    }
  }

  .slick-next {
    top: 50%;
    right: 0px;

    transition: background-color, right 0.2s ease-in-out;

    &:hover{
      right: -2px;

    }
  }


  .slick-prev{
    top: 50%;
    left: 0px;

    transition: background-color, left 0.2s ease-in-out;


    &:hover{
      left: -2px;

    }
  }


  a{
    position: relative;

    &:hover .item-info{
      bottom: 40px;
    }

    .item-info{
      position: absolute;
      margin-left: 20px;
      width: 370px;
      bottom: 20px;
      color: white;
      font-weight: 700;
      transition: bottom 0.3s ease-in-out;

      h2{
        font-size: 16px;
        margin-top: 16px;
      }



      .bottom{
        margin-top: 25px;
      }
    }

  }

  .item{

    background-color: black;
    background-position: bottom;

    &:hover img{
      opacity: 0.9;
    }

    img {
      opacity: 0.7;
      transition: opacity 0.3s ease-out;
    }


  }

}

#content, #player{
  margin-top: 30px;

  .category-icon{
    margin-right: 15px;
    color: #c82333;
  }

  .category-more-icon{
    font-size: 20px;
  }

  .category-header{
    border-bottom: 1px solid #eee;
  }


  .category-more{

    transition: margin-right 0.3s ease;

    &:hover a{
      color: #c82333;

    }

    &:hover{
      margin-right: -10px;

    }


    a{
      color: black;
      transition: color 0.3s ease;
      font-size: 15px;
    }
    a:hover{

      text-decoration: none;
    }

    span{
      margin-left: 5px;

    }
  }

  .videos{
    .col-md-4 {
      padding-left: 4px;
      padding-right: 4px;
      margin-top: 20px;
    }

    .post-view-count, .post-time{
      color: #949494;
      line-height: 16px;
      font-size: 13px

    }

    .post-title h2{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      transition: color 0.3s ease-in-out;

    }

    .card:hover .post-title h2{
      color: #c82333;
    }

    .card-body{
      padding-bottom: 10px;
      padding-top: 10px;
    }
    a{
      color: black;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .post-all{
    margin-bottom: 20px;
  }

  .category-name{


    h3{
      font-size: 24px;
    }
    a{
      color: black;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .most-viewed-header{
    margin-left: 10px;
    transition: color 0.3s ease-in-out;



    &:hover{
      color: #c82333;
    }

    h2{
      font-size: 24px;
      cursor: default;
    }

    .most-viewed-icon{
      margin-left: 20px;
      margin-right: 20px;
      color: #c82333;
    }
  }

  .post-view-count, .post-time{
    color: #949494;
    line-height: 16px;
    font-size: 13px

  }

  .post-title h2{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: #c82333;
    }
  }

  .card-body{
    padding-bottom: 10px;
    padding-top: 10px;

  }
  a{
    color: black;

    &:hover{
      text-decoration: none;
    }
  }

  .col-md-12.most-viewed-post{
    margin-top: 20px;
  }
}

.social{

  .fab {
    background-color: #eee;
    padding: 20px;
    font-size: 20px;
    color: #5a6268;
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  .fab:hover{
    &.fa-twitter{
      background-color: #0b2e13;
      color: white;

    }

    &.fa-instagram{
      background-color: #062c33;
      color: white;
    }

    &.fa-youtube{
      background-color: #c82333;
      color: white;
    }

    &.fa-facebook-square{
      background-color: #005cbf;
      color: white;
    }
  }


}


#player{
  #my-video {
    width: 100%    !important;
    height: 600px   !important;
  }

  .vjs-fullscreen #my-video{
    height: 100% !important;
  }

  .player-header{
    padding: 20px;
    font-size: 25px;
  }

  .vjs-big-play-button{
    top: 42%;
    left: 42%;
  }

  .view-info{
    font-size: 20px;
  }

  .thumbs{
    font-size: 20px;
  }

  .share-header{
    font-size: 15px;
  }

  .post-name{
    font-size: 20px;
  }



}

#about{
  background-color: #151723;

  padding: 40px;

  .logo{
    display: block;
    margin-bottom: 25px;
    height: 50px;
  }

  .about-information p{
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 1.3;
    color: white;
  }

  .about-title{
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }


}


#footer{

  background-color: #121013;
  padding: 15px 0;

  .footer-list{

    .footer-list-item{
      display: inline-block;
      color: white;
      font-weight: 700;
      margin-right: 20px;
      a{
        color: inherit;
        transition: color 0.3s ease-in-out;

        &:hover{
          color: #c82333;
          text-decoration: none;
        }
      }
    }
  }

  .footer-social{
    a{
      i{
        padding: 10px;
        color: white;
        font-size: 20px;
      }
    }
  }

  .footer-law{
    color: #fff;
    font-size: 15px;
  }
}

.pagination {
  border: none;
  > li {
    display: inline-block;
    margin: 0 4px;
    &.active {
      a {
        background: none;
        color: #005cbf;
        border-color: #005cbf;
        &:hover{
          background-color: #005cbf;
          border-color: #005cbf;
        }
      }
    }
    > a {
      border: none;
      border-bottom: 2px solid transparent;
      font-size: 15px;
      color: #005cbf;
    }
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: 1200px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }



}

@media (max-width: 1200px)
{
  nav .navbar-nav .nav-link {
    font-size: 12px;
  }
}
// Responsive
@media (max-width: 1115px){

  #content{
    .social{
      .fab {
        padding: 20px;
        font-size: 20px;
      }
    }
  }


  #content .most-viewed-header h2 {
    font-size: 16px;
  }

  nav .navbar-nav .nav-link {
    font-size: 12px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 410px   !important;
    }
  }

}

@media (max-width: 991px){

  #content{
    .social{
      .fab {
        padding: 16px;
        font-size: 16px;
      }
    }
  }

  #content .most-viewed-header h2 {
    font-size: 16px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 380px   !important;
    }
  }

  #content .videos{

    i{
      font-size: 12px;
    }
    .post-view-count{
      font-size: 14px;
    }

    .post-time{
      font-size: 15px;
    }


    .post-title h2{
      font-size: 13px;
    }
  }

  nav .navbar-nav {

    text-align: center;

    .nav-link {
      font-size: 20px;
    }

  }
  nav{
    margin-bottom: 20px;
  }

  #main a .item-info {
    margin-left: 20px;

    .category-name{
      font-size: 11px;
    }

    .time{
      font-size: 12px;
    }

    h2 {
      font-size: 10px;
    }

    .view-count{
      font-size: 12px;
    }
  }
}

@media (max-width: 767px){

  #footer{
    .footer-list-item{
      font-size: 12px;
    }
  }

  #content{
    .social{
      .fab {
        padding: 14px;
        font-size: 14px;
      }
    }
  }

  #content .most-viewed-header h2{
    font-size: 14px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 380px   !important;
    }
  }

  #content{
    .social{
      margin-bottom: 20px;
    }
  }

  #content .videos{

    i{
      font-size: 14px;
    }
    .post-view-count{
      font-size: 14px;
    }

    .post-time{
      font-size: 14px;
    }


    .post-title h2{
      font-size: 16px;
    }
  }

  #main a .item-info {
    margin-left: 25px;
    margin-right: 10px;
    width: 250px;

    .view{

    }

    .category-name{
      font-size: 10px;
    }

    .time{
      font-size: 10px;
    }

    h2 {
      font-size: 14px;
    }

    .view-count{
      font-size: 10px;
    }
  }

}

@media (max-width: 480px){

  #content{
    .social{
      .fab {
        padding: 11px;
        font-size: 12px;
      }
    }
  }


  #content .most-viewed-header h2{
    font-size: 12px;
  }



  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 14px;
    }

    .time{
      font-size: 14px;
    }

    h2 {
      font-size: 14px;
    }

    .view-count{
      font-size: 14px;
    }
  }
}

@media (max-width: 400px){
  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 12px;
    }

    .time{
      font-size: 12px;
    }

    h2 {
      font-size: 12px;
    }

    .view-count{
      font-size: 12px;
    }
  }
}

@media (max-width: 400px){
  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 10px;
    }

    .time{
      font-size: 10px;
    }

    h2 {
      font-size: 10px;
    }

    .view-count{
      font-size: 10px;
    }
  }
}

