body{
  font-family: Raleway;
  overflow-x: hidden;
}

.toTop{
  background: #03b3c1;
  color: white;
  transition: transform 0.2s ease;

  &:hover{
    transform: scale(1.3);
  }

}


.btn-dropdown{
  background: transparent;
  font-size: 20px;
  padding-top: 4.5px;

  &:hover{
    color: #03b3c1;
  }
}

.mobile-dropdown-icon{
  display: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1020;
  display: none;
}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &:focus{
    box-shadow: none;
  }
}

nav{

  .dropdown-menu{
    border: 1px solid #03b3c1 ;
    text-align: center;

    .nav-item.dropdown-item{
      cursor: pointer;
    }

    .nav-item.dropdown-item:hover{
      background-color: lightblue;

      .nav-link{
        color: #03b3c1;
      }
    }
  }

  background-color: white;

  .navbar-toggler{
    background-color: #eee;

    &:focus{
      outline: none;
    }

    .navbar-toggler-icon{
      color: lighten(#000000, 20%);
    }
  }

  .logo{
    height: 30px;
    display: block;
  }

  .navbar-social{
    a{
      color: black;
    }
  }

  .navbar-nav .nav-link{
    color: #121117;
    font-size: 20px;
    line-height: 24px;
    transition: color 0.3s;



    &:hover{
      color: #03b3c1;
    }
  }

  .ml-auto{
    i.fab{
      font-size: 30px;
      margin-left: 15px ;
    }

    button.dropdown-button{
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 20px;
      font-size: 30px;


      &:focus{
        outline: none;
      }
    }

    .nav-flag{
      height: 30px;
      margin-left: 25px;
    }
  }

  .dropdown{
    position: relative;
  }

  .dropdown-content{
    transform: scale(0) translateY(-30px);

    position: absolute;
    min-width: 260px;
    top: 30px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;

    input{
      &:focus{
        outline: none;
      }
    }
    .dropdown-content-input{
      padding: 20px 10px;
      width: 250px;
      border: 1px solid #eee;
      border-radius: 5px;


    }

  }

  .transform-scale{
    transform: scale(1) translateY(0px);
  }
  button.confirm{
    background-color: #28a745;
    color: white;
  }

}




.content-card {
  .card-img-top {
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: all 0.4s ease-in-out;

    .playButton {
      //transform: translateY(120px);
      position: absolute;
      top: 100%;
      left: 33%;
      background: transparent;
      color: white;
      font-size: 80px;
      transition: all 0.4s ease-in-out;
      opacity: 0;

    }
    &:hover {
      opacity: 0.5;
      .playButton {
        opacity: 1;
        top: 24%;
        //transform: translateY(0px);
      }
    }

  }
}

#main{


  .row{
    .col-md-4{
      padding-left: 2px;
      padding-right: 2px;
    }
  }




  .slick-prev, .slick-next{
    position: absolute;
    z-index: 30;
    background-color: #fff;
    border-radius: 100%;
    color: #252525;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.0em;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease;

    width: 32px;
    height: 32px;
    opacity: 0.6;

    &:hover{
      background-color: white;
      opacity: 1;

    }

    &:focus{
      outline: none;
    }
  }

  .slick-next {
    top: 45%;
    right: 10px;
  }


  .slick-prev{
    top: 45%;
    left: 10px;

  }


  a{
    position: relative;

    &:hover .item-info{
      bottom: 40px;
    }

    .item-info{
      position: absolute;
      margin-left: 20px;
      width: 370px;
      bottom: 20px;
      color: white;
      font-weight: 700;
      transition: bottom 0.3s ease-in-out;

      h2{
        font-size: 16px;
        margin-top: 16px;
      }



      .bottom{
        margin-top: 25px;
      }
    }

  }

  .item{

    background-color: black;
    background-position: bottom;

    &:hover img {
      opacity: 0.9;
    }

    img {
      opacity: 0.7;
      transition: opacity 0.3s ease-out;
    }


  }

}

#content, #player{
  margin-top: 30px;

  .category-icon{
    margin-right: 15px;
    color: #03b3c1;
  }

  .category-more-icon{
    font-size: 20px;
  }

  .category-header{
    border-bottom: 1px solid #eee;
  }


  .category-more{
    background: transparent;
    transition: margin-right 0.3s ease;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover a{
      color: #03b3c1;
    }

    &:hover{
      background: #03b3c1;
      border-color: #03b3c1 !important;
      a{
        color: white;
      }
    }

    a{
      color: black;
      transition: color 0.3s ease;
      font-size: 15px;
    }

    span{
      margin-left: 5px;

    }
  }

  .videos{
    .col-md-4 {
      padding-left: 4px;
      padding-right: 4px;
      margin-top: 20px;
    }

    .post-view-count, .post-time{
      color: #949494;
      line-height: 16px;
      font-size: 13px

    }

    .post-title h2{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      transition: color 0.3s ease-in-out;

    }

    .card:hover .post-title h2{
      color: #03b3c1;
    }

    .card-body{
      padding-bottom: 10px;
      padding-top: 10px;
    }
    a{
      color: black;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .post-all{
    margin-bottom: 20px;
  }

  .category-name{


    h3{
      font-size: 24px;
    }
    a{
      color: black;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .most-viewed-header{
    margin-left: 10px;
    transition: color 0.3s ease-in-out;



    &:hover{
      color: #03b3c1;
    }

    h2{
      font-size: 24px;
      cursor: default;
    }

    .most-viewed-icon{
      margin-left: 20px;
      margin-right: 20px;
      color: #03b3c1;
    }
  }

  .post-view-count, .post-time{
    color: #949494;
    line-height: 16px;
    font-size: 13px

  }

  .post-title h2{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: #03b3c1;
    }
  }

  .card-body{
    padding-bottom: 10px;
    padding-top: 10px;

  }
  a{
    color: black;

    &:hover{
      text-decoration: none;
    }
  }

  .col-md-12.most-viewed-post{
    margin-top: 20px;
  }
}

.social{

  .fab {
    background-color: #eee;
    padding: 20px;
    font-size: 20px;
    color: #5a6268;
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  .fab:hover{
    &.fa-twitter{
      background-color: #0b2e13;
      color: white;

    }

    &.fa-instagram{
      background-color: #062c33;
      color: white;
    }

    &.fa-youtube{
      background-color: #c82333;
      color: white;
    }

    &.fa-facebook-square{
      background-color: #005cbf;
      color: white;
    }
  }


}


#player{
  #my-video {
    width: 100%    !important;
    height: 600px   !important;
  }

  .vjs-fullscreen #my-video{
    height: 100% !important;
  }

  .player-header{
    padding: 20px;
    font-size: 25px;
  }

  .vjs-big-play-button{
    top: 42%;
    left: 42%;
  }

  .view-info{
    font-size: 20px;
  }

  .thumbs{
    font-size: 20px;
  }

  .share-header{
    font-size: 15px;
  }

  .post-name{
    font-size: 20px;
  }



}

#about{
  background-color: #151723;

  padding: 40px;

  .logo{
    display: block;
    margin-bottom: 25px;
    height: 50px;
  }

  .about-information p{
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 1.3;
    color: white;
  }

  .about-title{
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
  }


}


#footer{

  background-color: #121013;
  padding: 15px 0;

  .footer-list{

    .footer-list-item{
      display: inline-block;
      color: white;
      font-weight: 700;
      margin-right: 20px;
      a{
        color: inherit;
        transition: color 0.3s ease-in-out;

        &:hover{
          color: #03b3c1;
          text-decoration: none;
        }
      }
    }
  }

  .footer-social{
    a{
      i{

        color: white;
        font-size: 20px;
      }
    }
  }

  .footer-law{
    color: #fff;
    font-size: 15px;
  }
}

.pagination {
  border: none;
  > li {
    display: inline-block;
    margin: 0 4px;
    &.active {
      a {
        background: none;
        color: #005cbf;
        border-color: #005cbf;
        &:hover{
          background-color: #005cbf;
          border-color: #005cbf;
        }
      }
    }
    > a {
      border: none;
      border-bottom: 2px solid transparent;
      font-size: 15px;
      color: #005cbf;
    }
  }
}

*:focus{
  box-shadow: none !important;
}

@media (min-width: 1360px) {
  .container {
    max-width: 1200px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }



}

@media (max-width: 1200px)
{
  nav .navbar-nav .nav-link {
    font-size: 12px;
  }

  .playButton{
    left: 20%;
  }
}
// Responsive
@media (max-width: 1115px){



  #content{
    .social{
      .fab {
        padding: 20px;
        font-size: 20px;
      }
    }
  }


  .playButton{

    left: 20%;
    i{
      font-size: 60px;
    }

  }

  #content .most-viewed-header h2 {
    font-size: 16px;
  }

  nav .navbar-nav .nav-link {
    font-size: 12px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 410px   !important;
    }
  }

}

@media (max-width: 991px){

  .large-dropdown-icon{
    display: none;
  }

  .mobile-dropdown-icon{
    display: inline;
  }

  #content{
    .social{
      .fab {
        padding: 16px;
        font-size: 16px;
      }
    }
  }

  #content .most-viewed-header h2 {
    font-size: 16px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 380px   !important;
    }
  }

  #content .videos{

    i{
      font-size: 12px;
    }

    .playButton{
      left: 40%;

      i{
        font-size: 80px;
      }

    }

    .playButton{
      font-size: 80px;
    }
    .post-view-count{
      font-size: 14px;
    }

    .post-time{
      font-size: 15px;
    }


    .post-title h2{
      font-size: 13px;
    }
  }

  nav .navbar-nav {

    text-align: center;

    .nav-link {
      font-size: 20px;
    }

  }
  nav{
    margin-bottom: 20px;
  }

  #main a .item-info {
    margin-left: 20px;

    .category-name{
      font-size: 11px;
    }

    .time{
      font-size: 12px;
    }

    h2 {
      font-size: 10px;
    }

    .view-count{
      font-size: 12px;
    }
  }
}

@media (max-width: 767px){

  #footer{
    .footer-list-item{
      font-size: 12px;
    }
  }

  #content{
    .social{
      .fab {
        padding: 14px;
        font-size: 14px;
      }
    }
  }

  #content .most-viewed-header h2{
    font-size: 14px;
  }

  #player{
    #my-video {
      width: 100%    !important;
      height: 380px   !important;
    }
  }

  #content{
    .social{
      margin-bottom: 20px;
    }
  }

  #content .videos{

    i{
      font-size: 14px;
    }

    .playButton{
      i{
        font-size: 80px;
      }

    }
    .post-view-count{
      font-size: 14px;
    }

    .post-time{
      font-size: 14px;
    }


    .post-title h2{
      font-size: 16px;
    }
  }

  #main a .item-info {
    margin-left: 25px;
    margin-right: 10px;
    width: 250px;

    .view{

    }

    .category-name{
      font-size: 10px;
    }

    .time{
      font-size: 10px;
    }

    h2 {
      font-size: 14px;
    }

    .view-count{
      font-size: 10px;
    }
  }

}

@media (max-width: 480px){

  #content{
    .social{
      .fab {
        padding: 11px;
        font-size: 12px;
      }
    }
  }


  #content .most-viewed-header h2{
    font-size: 12px;
  }



  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 14px;
    }

    .time{
      font-size: 14px;
    }

    h2 {
      font-size: 14px;
    }

    .view-count{
      font-size: 14px;
    }
  }
}

@media (max-width: 400px){
  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 12px;
    }

    .time{
      font-size: 12px;
    }

    h2 {
      font-size: 12px;
    }

    .view-count{
      font-size: 12px;
    }
  }
}

@media (max-width: 400px){
  #main a .item-info {
    margin-left: 25px;

    .category-name{
      font-size: 10px;
    }

    .time{
      font-size: 10px;
    }

    h2 {
      font-size: 10px;
    }

    .view-count{
      font-size: 10px;
    }
  }
}

